<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="form-floating mb-2">
            <input type=" text" placeholder="Nombre" formControlName="nombre" class="form-control" id="nombre">
            <label for="nombre">Nombre</label>
          </div>
          <div class="form-floating mb-2">
            <input type=" text" placeholder="Apellido" formControlName="apellido" class="form-control" id="Apellido">
            <label for="Apellido">Apellido</label>
          </div>
          <div class="form-floating mb-2">
            <input type=" text" placeholder="Telefono" formControlName="telefono" class="form-control" id="Telefono">
            <label for="Apellido">Telefono</label>
          </div>
          <div class="form-floating mb-2">
            <input type=" text" placeholder="Email" formControlName="email" class="form-control" id="Email">
            <label for="Apellido">Email</label>
          </div>
          <div class="form-floating mb-2">
            <input type=" text" placeholder="Password" formControlName="password" class="form-control" id="Password">
            <label for="Password">Password</label>
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>